@import "../../mixins";

.root {
  padding: 50px 0 70px;
  background-color: #F4F4F4;

  @include for-phone-only {
    padding: 40px 0;
  }
}

.heading {
  text-align: center;
  margin: 0 0 40px;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @include for-phone-only {
    margin: -5px;
  }
}

.card {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 15px;

  @include for-phone-only {
    flex-basis: 100%;
    padding: 5px;
  }
}

.cardInner {
  min-height: 339px;
  position: relative;
  padding: 0 40px 40px 40px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  bottom: calc(100% - 90px);
}

.flag {
  font-size: 55px;
  line-height: 1;
}

.organizationTitle {
  padding-top: 110px;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
}

.description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 0;
}

$link-color: #CC0000;

.link {
  display: inline-block;
  background-color: $link-color;
  color: #fff;
  padding: 10px 21px;
  text-decoration: none;
  font-weight: 400;
  margin-top: 20px;
  transition: all .25s;

  &:hover {
    background-color: darken($link-color, 10%);
  }
}
