@import "../../mixins";

.root {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.button {
  @extend %reset-button;
  cursor: pointer;
  color: #DE0303;
  border: 1px solid #DE0303;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 35px;
  width: 50px;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
  margin-right: 15px;

  path {
    transition: fill .2s ease-in-out;
  }

  &:hover {
    border-color: #9A0101;
    color: #9A0101;

    path {
      fill: #9A0101;
    }
  }
}

.copy {
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-transform: uppercase;
  width: auto;
  color: #A2A2A2;
  border-color: #A2A2A2;

  svg {
    margin-right: 9px;
  }

  &:hover {
    border-color: darken(#A2A2A2, 20%);
    color: darken(#A2A2A2, 20%);

    path {
      fill: darken(#A2A2A2, 20%);
    }
  }
}

.twitter {
}

.facebook {
}

.nativeShare {
  &:hover {
    path {
      fill: none;
    }
  }
}
