@import "../mixins";

$border: 1px solid rgba(0, 0, 0, 0.1);

.root {
  overflow: auto;

  @include for-phone-only {
    overflow: initial;
  }
}

.row {
  display: flex;
  text-align: initial;

  @include for-phone-only {
    flex-wrap: wrap;
    margin: 15px 0;
    border-bottom: $border;
    border-top: $border;
  }

  &.oneColumn {
    justify-content: center;
  }
}

.header {
  @include for-phone-only {
    .index {
      display: none;
    }

    .message {
      border-top: none;
    }
  }
}

.index {
  padding-top: 30px;
  flex: 0 0 50px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  border-bottom: $border;

  .header & {
    border-top: $border;
  }

  @include for-phone-only {
    display: none;
  }
}

.message {
  border-left: $border;
  border-bottom: $border;
  flex: 0 1 100%;
  min-width: 300px;
  max-width: 575px;
  overflow: auto;
  box-sizing: border-box;
  padding: 30px 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  // for some reason our font doesn't support georgian
  &:global(.ka) {
    font-family: sans-serif;
  }

  @include for-phone-only {
    flex-basis: 100%;
    border-right: $border;
    padding: 20px;
    min-width: auto;
    max-width: initial;

    &:last-child {
      border-bottom: none;
    }
  }

  .header & {
    border-top: $border;
    padding: 11px 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    @include for-phone-only {
      border-top: none;
      padding: 11px 20px;
    }
  }
}

.messageContent {
  p {
    margin: 0;
  }
}
