$border: 1px solid rgba(0, 0, 0, 0.1);

.root {
  padding: 50px 0 70px;
}


.row {
  display: flex;
  text-align: left;
  border-bottom: $border;
}

.index {
  padding-top: 30px;
  flex-basis: 50px;
}

.message {
  border-left: $border;
  flex: 1 1 50%;
  padding: 30px 40px;

  .header & {
    padding: 11px 40px;
  }
}
