$initial-background: #F5F5F5;

.root {
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.input {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 185px;
  background-color: $initial-background;
  font-size: 16px;
  line-height: 1;
  padding: 15px 0;
  cursor: pointer;
  transition: all .25s;

  &:hover:not(.checked) {
    background-color: darken($initial-background, 20%);
  }

  &.checked {
    background-color: #242424;
    color: #fff;
  }
}
