// https://loading.io/css/
.root {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.root div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 6px;
  border-width: 5px;
  border-style: solid;
  border-color: #DE0303 transparent transparent transparent;
  border-radius: 50%;
  animation: effect 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.root div:nth-child(1) {
  animation-delay: -0.45s;
}
.root div:nth-child(2) {
  animation-delay: -0.3s;
}
.root div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
