.root {
  max-width: var(--content-width);
  padding: 0 var(--gutter);
  margin: 0 auto;
}

.masonryGrid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
  min-height: 1000px;
}

.masonryGridColumn {
  padding-left: 20px;
  background-clip: padding-box;

  img {
    margin-bottom: 20px;
    max-width: 100%;
  }
}
