.root {
  width: 100vw;
  min-height: calc(100vh - 140px);
  padding: 30px 0 100px;
  box-sizing: border-box;
  max-width: 100%;
  background-image: url("./main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.domain {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
}

.content {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.heading {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
}

.aim {
  position: absolute;
  right: 100%;
  top: -10px;
  margin-right: 20px;
  padding: 4px;
  border: 1px solid #FF1C1C;
  color: #FF1C1C;
  font-size: 20px;
  font-weight: 600;
}

.description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}

.highlight {
  color: #FF1C1C;
}

.descriptionWrapper {
  position: relative;
  line-height: 1.55;
}

.infoColumn {
  max-width: 495px;
  text-align: left;
}

.postIllustration {
  max-width: 312px;
}
