@import "../mixins";

$country-color: #F5F5F5;
$border: 1px solid rgba(0, 0, 0, 0.1);

.heading {
  margin: 70px 0 32px;
  font-size: 30px;
  line-height: 1;
  font-weight: 600;

  @include for-phone-only {
    margin: 32px 0;

    .withMobileSelector & {
      display: none;
    }
  }
}

.content {
  border-top: $border;
  border-bottom: $border;
  padding: 24px 0;

  @include for-phone-only {
    padding: 12px 0;

    .withMobileSelector & {
      padding: 0;
      border: none;
    }
  }
}

.desktopSelector {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;

  @include for-phone-only {
    flex-wrap: nowrap;
    overflow: auto;
    margin: 0;

    .withMobileSelector & {
      display: none;
    }
  }
}

.country {
  @extend %reset-button;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 125px;
  height: 96px;
  margin: 12px;
  background-color: $country-color;
  cursor: pointer;
  transition: all .25s;

  @include for-phone-only {
    margin: 6px 8px 8px 0;

    :last-child {
      margin-right: 0;
    }
  }

  &:hover:not(.selected) {
    background-color: darken($country-color, 20%);
  }

  &.selected {
    background-color: #242424;
  }
}

.flag {
  width: 50px !important;
  height: 32px !important;
  margin-bottom: 12px;
}

.name {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  .selected & {
    color: #fff;
  }
}

.mobileSelect {
  display: none;
  margin-top: 30px;
  width: 100%;

  @include for-phone-only {
    .withMobileSelector & {
      display: block;
    }
  }
}

.mobileOption {
  display: flex;
  align-items: center;
}

.mobileFlag {
  flex: 0 0 30px;
  margin-right: 10px;
}
