@import "../../mixins";

.root {
  max-width: 1200px;
  padding: 0 120px;
  text-align: center;
  margin: 0 auto;

  @include for-tablets-only {
    padding: 0 50px;
  }

  @include for-phone-only {
    padding: 0 20px;
  }
}
